<div class = "search-result-wrapper">
  <div class = "container">
    <% if @movies.present? %>
      <h1 class = "search-name">'<%= @search_name %>' に関する映画</h1>
      <div class = "search-result">
        <% @movies[0..11].each do |movie| %>
          <div class = "search-result-index">
            <%= image_tag movie.image.url,size:'210x300' %>
            <h1><%= movie.name %></h1>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class = "no-hit">
        <p>ヒットしませんでした</p>
      </div>
    <% end %>
  </div>
</div>